<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../files/style.css?v=2.1">
    <link rel="stylesheet" href="../files/account.css?v=2.1.2">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link href="../assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>ShellCoin Token Account</title>
</head>
<body>
    <div class="topViewBox">
        <div class="viewArea">
            <div class="headerSection">
                <div class="logoSection">
                    <img src="../images/logo-round.png" alt="O" class="logo">
                    <h1 class="name">ShellCoin </h1> 
                    <p> (Presale)</p>
                    
                </div>
                <%- data.WebTop %>
                <%- data.MobTop %>
            </div>
            <!-- Stat Section -->
            <!-- <div class="v-spacer-tk"></div> -->
            <div class="tokenStatSection">
                <div class="statTitle">
                    <span class="mainTitle">Your Account</span>
                    
                </div>
                <div class="statSection">
                    <div class="leftStatSection">
                        <div class="leftStatBox">
                            <div class="statTitle">
                                <span class="boxTitle">Your Tokens</span>
                            </div>
                            <div class="otherStats">
                                <div class="stats">
                                    <span class="statName">Your Total $SECN Balance</span>
                                    <span class="statValue">4500</span>
                                </div>


                                <div class="stats">
                                    <span class="statName">Purchase Price</span>
                                    <span class="statValue">13.5$</span>
                                </div>
                                <div class="stats">
                                    <span class="statName">Your Token Value at launch</span>
                                    <span class="statValue">13000$</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="rightStatSection">
                        <div class="rightStatBox">
                            <div class="statTitle">
                                <span class="boxTitle">Current Batch: 01 out of 20</span>
                            </div>
                            <div class="otherStats">
                                <div class="stats">
                                    <span class="statName">Current Price</span>
                                    <span class="statValue">0.003$</span>
                                </div>

                                <div class="stats">
                                    <span class="statName">Next Batch Price</span>
                                    <span class="statValue">0.004$</span>
                                </div>

                                <div class="stats">
                                    <span class="statName">Expected Launch Price</span>
                                    <span class="statValue">0.1$ <span style="margin-left: 5px;" class="green">(+9900%)</span></span>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                    <%- data.Dp%>
                </div>
                <!-- stat section -->
            </div>
        </div>
    </div>
    <script src="../files/account.js?v=1.0.1"></script>
</body>
</html>