<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="files/terms.css">
    <link rel="stylesheet" href="files/style.css?v=2.0.3">
    <title>ShellCoin Privacy & Policy</title>
</head>

<body>
    <div class="topViewBox">
        <div class="viewArea">
            <div class="headerSection">
                <div class="logoSection">
                    <img src="images/logo-round.png" alt="O" class="logo">
                    <h1 class="name">ShellCoin </h1> 
                    <p> (Presale)</p>
                    
                </div>

                <%- data.WebTop %>
                <%- data.MobTop %>

            </div>

            <%- data.Dp %>
            <div class="mainTitle">
                Privacy and Policy
            </div>
            <div class="contentSection">
                <div class="sections">
                    <span class="title">1. Introduction</span>
                    <span class="points">Welcome to the ShellCoin presale. At shellcoin.org, we prioritize your privacy and are dedicated to safeguarding your personal information. This Privacy Policy outlines our practices concerning the collection, use, and protection of your information during the token presale process. We understand the importance of transparency and aim to provide you with clear information on how we handle your data. </span><br>
                    <span class="points">
                    By participating in the ShellCoin presale, you consent to the collection and use of your information as described in this Privacy Policy. We encourage you to read this policy carefully to understand our practices and your rights regarding your personal information. If you have any questions or concerns, please do not hesitate to contact us. </span><br>
                    <span class="points">
                    Thank you for your trust and participation in the [Your Token] presale. We are committed to maintaining the confidentiality and security of your information throughout this process.
                    </span>
                </div>

                <div class="sections">
                    <span class="title">2. Information We Collect</span>
    
                    <ul class="points uList">
                        We collect the following types of information during the token presale:
                        <li><b>Personal Information: </b>This includes your name, email address, physical address, phone number, and any other information you provide when registering for the presale.</li>
                        <li><b>Financial Information:</b> Information such as your cryptocurrency wallet address and transaction details.</li>
                        <li><b>Technical Information:</b> This includes your IP address, browser type, and device information.</li>
                    </ul>
                </div>

                <div class="sections">
                    <span class="title">3. How We Use Your Information</span>
    
                    <ul class="points uList">We use your information for the following purposes:
                        <li>To process your registration and participation in the presale.</li>
                        <li>To communicate with you about the presale, including updates and confirmations.</li>
                        <li>To comply with legal and regulatory requirements.</li>
                        <li>To improve our services and ensure the security of our platform.</li>
                    </ul>
                </div>

                <div class="sections">
                    <span class="title">4. Sharing Your Information</span>
                    <ul class="points uList">
                        We do not sell, trade, or otherwise transfer your personal information to outside parties except in the following circumstances:
                        <li><b>Service Providers: </b>We may share your information with third-party service providers who assist us in conducting our business, such as payment processors and KYC/AML verification services.</li>
                        <li><b>Legal Requirements:</b> We may disclose your information if required by law or in response to legal requests, such as subpoenas or court orders.</li>
                        <li><b>Protection of Rights:</b> We may disclose your information to protect our rights, property, or safety, as well as the rights, property, or safety of our users or others.</li>
                    </ul>
                </div>

                <div class="sections">
                    <span class="title">5.  Data Security</span>
                    <span class="points">We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the internet or electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security.</span>
                </div>

                <div class="sections">
                    <span class="title">6. Your Rights</span>
                    <ul class="points uList">
                        You have the following rights regarding your personal information:
                        <li><b>Access: </b>You can request access to the personal information we hold about you.</li>
                        <li><b>Correction:</b> You can request corrections to any inaccurate or incomplete personal information.</li>
                        <li><b>Deletion:</b> You can request the deletion of your personal information, subject to certain legal obligations.</li>
                        <li><b>Objection:</b> You can object to the processing of your personal information under certain circumstances.</li>
                    </ul>
                    <span class="points">To exercise these rights, please contact us at <a href="mailto:shellcoinofficial@gmail.com">Official email</a></span>
                </div>

                <div class="sections">
                    <span class="title">7. Cookies and Tracking Technologies</span>
                    <span class="points">We use cookies and similar tracking technologies to enhance your experience on our platform. You can manage your cookie preferences through your browser settings.</span>
                </div>

                <div class="sections">
                    <span class="title">8. Changes to This Privacy Policy</span>
                    <span class="points">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on our platform and updating the effective date.</span>
                </div>
            </div>
        </div>
    </div>
    <script src="files/func.js?v=1.0.3"></script>
</body>

</html>