<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/roadmap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css.map">
    <title>ShellCoin RoadMap</title>
</head>
<body>
    <h1 style="font-weight: bold;font-family: Geometric;" >Road Map For ShellCoin</h1>
    <ul class="mainUl">
        <li class="mainList" style="--accent-color:red">
            <div class="date">1. Presale Preparation *</div>
            <!-- <div class="title">Title 1</div> -->
            <div class="descr">
                <ul>
                    <li>Market Research</li>
                    <li>Legal Consultation</li>
                    <li>Distribution Planning</li>
                    <li>Whitepaper Designing and Publishing *</li>
                    <li>Platform Creation</li>
                    <li>Testing (Testnet)</li>
                    <li>Feedback from Target audience</li>
                </ul>
            </div>
        </li>
        <li class="mainList" style="--accent-color:blueviolet">
            <div class="date">2. Presale Stage-I</div>
            <div class="descr">
                <ul>
                    <li>Community Building</li>
                    <li>Contract Creation</li>
                    <li>Partenership Listing</li>
                    <li>Market Compaign</li>
                    <li>Price Allocation from batch 1 to 10</li>
                </ul>
            </div>
        </li>
        <li class="mainList" style="--accent-color:#E24A68">
            <div class="date">3. Presale Stage-II</div>
            <div class="descr">
                <ul>
                    <li>Price Increase</li>
                    <li>Reducing Referal Earning Percentage</li>
                    <li>Price Allocation from batch 10 to 20</li>
                    <li>Accepting Solana Wallet Address</li>
                    <li>Participation in Winner Program</li>
                </ul>
            </div>
        </li>
        <li class="mainList" style="--accent-color:#1B5F8C">
            <div class="date">4. Presale Stage-III</div>
            <div class="descr">
                <ul>
                    <li>10% More Price Increase</li>
                    <li>Finalize Tokenomics</li>
                    <li>Launch Marketing Campaigns</li>
                    <li>Engage with Influencers</li>
                    <li>Price Allocation from batch 20 to 30</li>
                </ul>
            </div>
        </li>

        <li class="mainList" style="--accent-color:#4CADAD">
            <div class="date">5. Winner Announcement</div>
            <div class="descr">
                <ul>
                    <li>Announce Winners of Presale</li>
                    <li>Distribute Rewards</li>
                    <li>Publish Winners on Official Channels</li>
                    <li>Prepare for Sending AID</li>
                </ul>
            </div>
        </li>

        <li class="mainList" style="--accent-color:darkgreen">
            <div class="date">6. Sending AID</div>
            <div class="descr">
                <ul>
                    <li>Raising More Fund For AID</li>
                    <li>Finalizing AID Recipients</li>
                    <li>Finalizing Currency of AID</li>
                    <li>Sending AID to GAZA/Palestine and Other Devastated Areas</li>
                </ul>
            </div>
        </li>

        <li class="mainList" style="--accent-color:blue">
            <div class="date">7. Airdropping Tokens</div>
            <div class="descr">
                <ul>
                    <li>Distribute Tokens to Eligible Addresses</li>
                    <li>Monitor Distribution Success</li>
                    <li>Resolve Distribution Issues</li>
                    <li>Gather Feedback from Recipients</li>
                </ul>
            </div>
        </li>

        
    </ul>
    <script src="/files/rd.js"></script>
</body>
</html>