<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="files/terms.css">
    <link rel="stylesheet" href="files/style.css?v=2.0.3">
    <title>ShellCoin Terms and Condition</title>
</head>

<body>
    <div class="topViewBox">
        <div class="viewArea">
            <div class="headerSection">
                <div class="logoSection">
                    <img src="images/logo-round.png" alt="O" class="logo">
                    <h1 class="name">ShellCoin </h1> 
                    <p> (Presale)</p>
                    
                </div>

                <%- data.WebTop %>
                <%- data.MobTop %>

            </div>

            <%- data.Dp %>
            <div class="mainTitle">
                Terms and Conditions
            </div>
            <div class="contentSection">
                <div class="sections">
                    <span class="title">Introduction</span>
                    <span class="points">These Terms and Conditions ("Terms") govern the presale of ShellCoin ("SHCN")
                        offered by ShellCoin Ltd.</span>
                    <span class="points">By participating in the Token presale, you agree to be bound by these Terms.</span>
                    <span class="points">This document outlines the rules and regulations for the Token presale.</span>
                    <span class="points">Please read these Terms carefully before purchasing Tokens.</span>
                    <span class="points">Your participation in the presale indicates your acceptance of these Terms.</span>
                    <span class="points">The Company reserves the right to modify these Terms at any time.</span>
                    <span class="points">Any changes to the Terms will be communicated through the Company's official
                        channels.</span>
                    <span class="points">If you do not agree to these Terms, we do not recommand you to participate in the
                        presale.</span>
                </div>

                <div class="sections">
                    <span class="title">Eligibility</span>
                    <span class="points">Participants must be at least 18 years old. They can also participates on behalf of
                        or by the guidance of their parents.</span>
    
                    <span class="points">Participants must comply with their local laws and regulations. It means you must
                        be from a jurisdictions where purchasing and selling crypto is legally allowed, otherwise you end up
                        dealing with legal authorities.</span>
                    <span class="points">You must have a google or github account to continue with ShellCoin platform.
                        Custom sign up is currently disbaled on the platform.</span>
                </div>
    
                <div class="sections">
                    <span class="title">Token Purchase</span>
                    <span class="points">Tokens can be purchased using debit, credit or by directly sending crypto currencies like Solana, BTC and ETH and many other added time by time.</span>
                    <span class="points">The presale starts on [start date] and ending date will be disclosed soon, or until all tokens are sold, whichever comes first.</span>
                    <span class="points">The price of each Token depends on the batches. The price will be increased after every successive batch. The sooner you buy the token the cheaper you get.</span>
                </div>
    
                <div class="sections">
                    <span class="title">Payment and Delivery</span>
                    <span class="points">There are two ways of payment one is you can directly use your debit or credit card to buy the token and the second one is you can send acceptable cryptos to the wallet address given in your account section.</span>
                    <span class="points">Tokens will be distributed to the participant's provided wallet address within 24-48 hours after the presale ends.</span>
                </div>
    
                <div class="sections">
                    <span class="title">Use of Funds</span>
                    <ul class="points uList">
                        Funds raised during the presale will be used for various purposes:
                        <li>Fund will be used to list and market the token ShellCoin</li>
                        <li>Financial aid to many war-devastated nations like Ukraine and Gaza</li>
                        <li>For promotion and advertisement purposes</li>
                        <li>To build DeFi Apps and games for the further advancement of the token</li>
                    </ul>
                </div>
    
                <div class="sections">
                    <span class="title">Token Utility</span>
                   
                    <ul class="points uList">The ShellCoin serves multiple functions within its ecosystem, providing holders with a range of benefits and utilities, including but not limited to:

                        <li> <b>Access to Services:</b> Token holders can use the token to access premium features and services within the platform, such as advanced analytics, exclusive content, or priority customer support.
                        </li>
    
                        <li><b>Transaction Fees:</b> The token can be used to pay for transaction fees at a discounted rate,incentivizing users to utilize the token for platform transactions.</li>
    
                        <li><b>Staking and Rewards:</b> Token holders can participate in staking programs, earning additional tokens or rewards in return for locking up their tokens for a specified period.</li>
    
                        <li><b>Governance Rights:</b> Holders of the token may have voting rights on certain decisions regarding the future development and governance of the platform, allowing for a more decentralized and community-driven approach.</li>
    
                        <li><b>Marketplace Utility:</b> The token can be used as a medium of exchange within the ecosystem's marketplace, enabling users to buy and sell goods and services.</li>
    
                        <li><b>Incentive Programs:</b> The token is used in various incentive programs to reward users for activities such as referrals, content creation, or other contributions to the ecosystem.</li>
                    </ul>
                </div>
    
    
                <div class="sections">
                    <span class="title">Securities & Compliance and Anti-Money Laundering (AML)</span>
                    <span class="points">Tokens are not intended to constitute securities, and this presale does not represent an offer to sell or the solicitation of an offer to buy any security.</span>
                    <span class="points">Participants must comply with all relevant AML regulations.The Company reserves the right to conduct KYC (Know Your Customer) checks and refuse participation to individuals who do not meet the requirements.</span>
                </div>
    
                <div class="sections">
                    <span class="title">Limitation of Liability and Refund Policy</span>
                    <span class="points">The Company and its affiliates will not be liable for any direct, indirect, incidental, or consequential damages arising from the presale or use of the Tokens.</span>
                    <span class="points">All sales are final. No refunds will be provided unless the presale is canceled by the Company.</span>
                </div>

                <div class="sections">
                    <span class="title">Contact Information</span>
                    <span class="points">For any questions or concerns regarding the presale, please contact us at: </span>
                    <span class="points contact"><b>Support Page</b> <a href="https://shellcoin.com/support">https://shellcoin.com/support</a></span>
                    <span class="points contact"><b>Official email:</b> <a href="mailto:shellcoinofficial@gmail.com">shellcoinofficial@gmail.com</a></span>
                    <span class="points contact"><b>Our email:</b> <a href="mailto:amosburton1270@gmail.com">amosburton1270@gmail.com</a></span>
                    <span class="points contact"><b>Telegram:</b> <a href="https://t.me/shellcoinofficial">https://t.me/shellcoinofficial</a></span>
                    <span class="points contact"><b>Discord</b> <a href="https://discord.gg/4TU9tzyt83">https://discord.gg/4TU9tzyt83</a></span>
                    
                </div>
    
                <div class="sections">
                    <span class="title">Amendments</span>
                    <span class="points">The Company reserves the right to amend these Terms at any time. Participants will be notified of any changes through the Company's official communication channels.</span>
                </div>
                <div class="sections">
                    <span class="title">Risk Disclosure</span>
                    <span class="points">Participants acknowledge the inherent risks associated with purchasing and using Tokens, including but not limited to market volatility, regulatory risks, and technological risks. The Company does not guarantee any returns or profitability from the purchase of Tokens.</span>
                </div>
    
                <div class="sections">
                    <span class="title">Acceptance</span>
                    <span class="points">By participating in the Token presale, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.</span>
                </div>
            </div>
        </div>
    </div>
    <script src="files/func.js?v=1.0.3"></script>
</body>

</html>