@font-face {
    font-family: 'Geometric';
    src: url('../fonts/geometric-415-black-bt.ttf') format('truetype');
    /* Add additional src lines if you have different font formats */
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color:hsl(240deg 48.15% 10.59%);
    background-image: url('/images/loginback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(240deg 48.15% 10.59%);
    background-blend-mode: luminosity;
    backdrop-filter: blur(1px);
}

.topViewBox{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewArea{
    padding: 20px 30px 30px 30px;
    border: 1px solid #cab8ec;
    border-radius: 10px;
    background-color: #0a001d;
    box-shadow: 0px 0px 8px 2px #161616;
    margin: 20px 0px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginTitle{
    margin-bottom: 10px;
    font-size: larger;
    font-family: Geometric;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.github-btn {
    background-color: white;
    color: #333;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 5px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Geometric;
    display: flex;
    align-items: center;

}
.github-btn img{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.google-login{
    margin: 15px;
}

.loginModes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applyReferer{
    margin-top: 15px;

    flex-direction: column;
}


.applyReferer .button{
    color: white;
    background-color:slateblue;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.applyReferer input{
    padding: 10px;
    outline: 0;
    border-radius: 20px;
    border: 0px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(10, 151, 10);
}

.applyReferalLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    margin-top: 10px;
    color: rgb(0, 166, 255);
    font-size: small;
    font-family: Geometric;
}
.applyReferalLink span{
    display: flex;
    width: 100%;
    justify-content: center;
}
.applyReferalLink:hover{
    cursor: pointer;
    color: rgb(0, 166, 255);
}

.agreement{
    color: whitesmoke;
    font-family:sans-serif;
    font-size: small;
    width: 100%;
    max-width: 210px;
    margin-top: 10px;
}

.agreement a{
    text-decoration: none;
    color: rgb(0, 166, 255);
    font-weight: bold;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: rgb(0, 166, 255);
    border-radius: 50%;
    margin: 4px 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
@media screen and (max-width: 600px) {
    .topViewBox{
       height: auto;
    }
    
    .viewArea{
        margin-top: 60px;
    }
    .applyReferalLink{
        font-size: large;
    }

    .agreement{
        font-size: 16px;
    }
}